/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: powderblue;
}

h1 {
  color: dodgerblue;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  color: mediumslateblue;
  text-align: center;
}

ul1 {
  font-style: italic;
  font-size: 10pt;
  color: teal;
  text-align: center;
}

p {
  text-align: center;
  font-size: 11pt;
  color: blue;
}

h2 {
  text-align: center;
  color: navy;
}

.page-title {
  color: #00BFFF;
}

.subgroups {
  color: lime;
}

.info {
  color: white;
}

.link {
  color: #00BFFF;
}

.clownfish {
  color: white;
}

.link2 {
  color: white;
}

button {
  color: black;
  background-color: white;
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
  border: 2px solid black;
}

.website-body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: black;
}
